name: CI/CD Pipelines

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '16'

      - name: Install dependencies
        run: npm install

      - name: Run tests
        run: npm run build

  deploy:
    runs-on: ubuntu-test
    needs: build
    if: github.ref == 'ref/heads/dev'

    steps:
      - name: checkout code
        uses: action/checkout@v4

      - name: Deploy the placeholder
        run: echo "You workflow has been deploy successfully."
